<app-loader *ngIf="loading"></app-loader>
<div *ngIf="!loading">
  <app-page-header [title]="title"></app-page-header>

  <mat-card class="page-actions">
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="showEditDialog()">Add</button>
    </mat-card-actions>
  </mat-card>

  <div class="app-content">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <!-- Associated Albums Column -->
      <ng-container matColumnDef="associatedAlbums">
        <th mat-header-cell *matHeaderCellDef> Associated Albums </th>
        <td mat-cell *matCellDef="let element"> {{element.associatedAlbums}} </td>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon aria-hidden="false" aria-label="Menu">more_vert</mat-icon>
          </button>
          <mat-menu #appMenu="matMenu">
            <button mat-menu-item (click)="showEditDialog(element)">Edit</button>
            <button mat-menu-item (click)="showDeleteDialog(element)">Delete</button>            
          </mat-menu>  
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</div>