//@import '~@angular/material/theming';

.full-width {
  width:100%;
}

.action-buttons {
  display:flex;
  justify-content: flex-end;
}

.image-preview {
  overflow: hidden;  
  img {
    max-width:300px;
  }
}

.image-clear {
  margin-bottom:1em;
}

.input-summary {
  min-height: 50px;
  height:100px;
}