@import '~@angular/material/theming';

html, body, material-app, mat-sidenav-container {
  height: 100%;
  width: 100%;
  margin: 0;
}

mat-sidenav {
  width: 200px;
}

.title {
  margin-left:2em;  
}