/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.no-image-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border:1px solid #ddd;
}