//@import '~@angular/material/theming';

.app-content {
  .page-actions {
    justify-content: flex-start !important;
    .mat-button {
      margin-left:1em;
    }
    .mat-button:first-child {
      margin-left:0;
    }
  }
  .col {
    margin:0 1em;
    &:first-child {
      margin-left:0;
    }
  }
  .col-1 {
    width:320px;
    .image-container {
      width:300px;
      height:300px;
      margin-bottom:1em;
      .mat-card-image {
        max-width:300px;
        margin:0;
      }
    }
  }
  .col-2 {
    width:100%;
  }

  .mat-card {
    box-shadow: none;
  }

  .artist-card {
    background:none;
  }
}
