//@import '~@angular/material/theming';

.mat-grid-list {
  margin:1em 1em 0 1em;

  .mat-grid-tile {
    height:100%;
  }

  .artist-tile {
    
    .mat-card-image {
      width:300px;
    }
  }

  .internal-grid{
    width:100%;
    height:100%;
  }

  .mat-card {
    box-shadow: none;
  }
}

.page-actions {
  justify-content: flex-start !important;
}