<app-loader *ngIf="loading"></app-loader>
<div *ngIf="!loading">
  <app-page-header [title]="title"></app-page-header>

  <div class="app-content" fxLayout="row" fxLayoutAlign="space-between">
    <div class="col col-1">
      <mat-card class="page-actions">
        <mat-card-actions>
          <button mat-stroked-button color="primary" [routerLink]="['/artist','list']">Back</button>
          <button mat-stroked-button color="primary" (click)="showEditDialog()">Edit artist</button>
          <button mat-stroked-button color="primary" (click)="showAddAlbum()">Add album</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="artist-card">
        <div class="image-container">
          <img *ngIf="artist.imageUri" mat-card-image src="{{artist.imageUri}}" alt="{{artist.name}}">
          <div *ngIf="!artist.imageUri" class="no-image-found">
            <mat-icon>broken_image</mat-icon>
          </div>
        </div>
        <mat-content>
          <p>{{artist.summary || 'No summary yet!'}}</p>
        </mat-content>
      </mat-card>     
    </div>
    <div class="col col-2">
      <app-album-list *ngIf="showAlbumList" [albums]="artist.albums"></app-album-list>
      <app-album-view *ngIf="showAlbum" [album]="album" (closeAlbumView)="onCloseAlbumView()"></app-album-view>
      <app-album-edit *ngIf="addOrEditAlbum" [artist]="artist" [album]="album" (closeAlbumView)="onCloseAlbumView()"></app-album-edit>
    </div>
  </div>
</div>