<app-loader *ngIf="loading"></app-loader>
<div *ngIf="!loading">
  <app-page-header [title]="title"></app-page-header>

  <mat-card class="page-actions">
    <mat-card-actions>
      <button mat-raised-button color="primary" class="btn-add" (click)="showAddArtist()">Add new artist</button>
    </mat-card-actions>
  </mat-card>

  <div class="app-content" fxLayout="row" fxLayoutAlign="">
    <div *ngFor="let artist of artists;let i = index" class="col" >
      <app-artist-card [artist]="artist"></app-artist-card>
    </div>
  </div>

</div>