<app-loader *ngIf="loading"></app-loader>
<div *ngIf="!loading">
  <div>
    <button mat-stroked-button color="primary" [routerLink]="['/album/',this.albumId,'edit']">Edit</button>
  </div>
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
      <div class="internal-grid">
        <mat-grid-list cols="2" rowHeight="1:1">
          <mat-grid-tile>
            <mat-card>
              <div class="image">
                <img mat-card-image src="{{album.imageUri}}" alt="{{album.name}}">
              </div>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card>
              <div class="title">
                <h1 class="mat-h1">{{album.name}}</h1>
              </div>
              <div class="subtitle">
                <h2 class="mat-h2">{{album.artistName}}</h2>
              </div>
              <div class="genres"></div>
              <div class="release-date">Release date: {{album.releaseDate | date: 'mediumDate'}}</div>
              <div class="summary">{{album.summary}}</div>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <table mat-table [dataSource]="album.tracks" class="mat-elevation-z8">

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef> Duration </th>
          <td mat-cell *matCellDef="let element"> {{element.duration | duration}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-grid-tile>
  </mat-grid-list>
</div>