<app-loader *ngIf="loading"></app-loader>
<div *ngIf="!loading">

  <mat-card class="section-actions">
    <mat-card-actions>
      <button mat-stroked-button color="primary" class="btn-back" (click)="onCloseView()">Back to albums</button>
      <button mat-stroked-button color="primary" class="btn-edit-album" (click)="onEditAlbumClick()">Edit album</button>
    </mat-card-actions>
  </mat-card>

  <div class="app-content" fxLayout="row" fxLayoutAlign="">
    <div class="col col-1">
      <mat-card>
        <div class="image">
          <img mat-card-image src="{{album.imageUri}}" alt="{{album.name}}">
        </div>
      </mat-card>

      <mat-card>
        <mat-card-content>
          <div class="title">
            <h1 class="mat-h1">{{album.name}}</h1>
          </div>
          <div class="genres"><b>Genres:</b> {{genres}}</div>
          <div class="release-date"><b>Release date:</b> {{album.releaseDate | date: 'mediumDate'}}</div>
          <div class="summary">{{album.summary}}</div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col col-2">
      <table mat-table [dataSource]="album.tracks" class="tracks">

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef> Duration </th>
          <td mat-cell *matCellDef="let element"> {{element.duration | duration}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
  </div>

</div>