//@import '~@angular/material/theming';

.internal-grid{
  width:100%;
  height:100%;
}

.mat-grid-tile {
  margin-left:1em;
}

.mat-card-image {
  max-width:300px;
}

.header-container {
  display: flex;
  .left{
    .image {
      width: 300px;
      height: auto;
      display: block;
      padding: 10px;
      .mat-card-image {
        max-width:300px;
        margin:0;
      }    
    }
  }
  .right {    
    padding-left:1em;
  }

  .title {
    h1 {
      margin-bottom:0.2em;
    }
  }
  .subtitle {
    h3 {
      margin-bottom:1em;
    }
  }
  .release-date {
    padding-bottom:1em;
  }
  .summary {
    padding-bottom:1em;
  }
}

.page-actions {
  justify-content: flex-start !important;
  .mat-card-actions {
    margin-left:1em;
    display:flex;
  }
  .btn-edit-album {
    margin-left:1em;
  }
  .btn-edit-album:first-child {
    margin-left:0;
  }
}

.mat-table {
  width:50%;
}