//@import '~@angular/material/theming';

.app-content {
  .col {
    margin:0 1em;
    &:first-child {
      margin-left:0;
    }
  }

  .col-1 {
    width:400px;
  }

  .col-2 {
    width:50%
  }

  .mat-card {
    background:none;
    box-shadow: none;
    padding-left:0;
    .mat-card-image {
      max-width:300px;
      margin:0;
    }
  }

  .release-date {
    margin-bottom:1em;
  }
}

.tracks {
  border:1px solid #eee;
  width:100%;
  .cdk-column-duration {
    width:100px;
  }
}